OPENAI_API_KEY=
DEFAULT_MESSAGE="Powered by OpenAI Vercel
- 如果本项目对你有所帮助，可以给小猫 [买点零食](https://cdn.jsdelivr.net/gh/ourongxing/chatgpt-vercel/assets/reward.gif)，但不接受任何付费功能请求。
- 本网站仅作为项目演示，不提供服务，请填入自己的 Key，长期使用请 [自行部署](https://github.com/ourongxing/chatgpt-vercel#%E9%83%A8%E7%BD%B2%E4%B8%80%E4%B8%AA%E4%BD%A0%E8%87%AA%E5%B7%B1%E7%9A%84-chatgpt-%E7%BD%91%E7%AB%99%E5%85%8D%E8%B4%B9)，简单成本低。
- [[Shift]] + [[Enter]] 换行。开头输入 [[/]] 或者 [[空格]] 搜索 Prompt 预设。[[↑]] 可编辑最近一次提问。点击顶部名称滚动到顶部，点击输入框滚动到底部。"
DEFAULT_SETTING='{
  "continuousDialogue": true,
  "archiveSession": false,
  "openaiAPIKey": "",
  "openaiAPITemperature": 60,
  "systemRule": "",
  "model": "gpt-3.5-turbo"
}'
RESET_CONTINUOUS_DIALOGUE_OPTION=false
PASSWORD=
MAX_INPUT_TOKENS='{
  "gpt-3.5-turbo": 3072,
  "gpt-4": 6144,
  "gpt-4-32k": 24576
}'
OPENAI_API_BASE_URL=api.openai.com
SENDKEY=
SENDCHANNEL=9
