.before #logo {
  transform: translate3D(25px, 150px, 0) scale(2);
}

.before #theme-toggle {
  transform: translate3D(0, 200px, 0) rotate(540deg);
}

.before #title,
.before #message-container {
  transform: translate3D(0, 200px, 0);
}

.before #theme-toggle,
.before #message-container {
  opacity: 0;
}

.after #title,
.after #theme-toggle,
.after #logo,
.after #message-container {
  transition-property: transform, opacity;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

.animate-dotting {
  animation: dot 3s infinite step-start;
  display: inline-block;
  width: 1.5em;
  vertical-align: bottom;
  overflow: hidden;
}

@keyframes dot {
  0% {
    width: 0;
    margin-right: 1.5em;
  }
  33% {
    width: 0.2em;
    margin-right: 1.3em;
  }
  66% {
    width: 0.5em;
    margin-right: 1em;
  }
  100% {
    width: 1.5em;
    margin-right: 0;
  }
}
