::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  /**/
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--c-scroll-thumb);
  border-radius: 0.25em;
}

:root {
  --c-bg: #f6f8fa;
  --c-scroll-thumb: #b9b9b9;
  --c-text-slate: rgb(148, 163, 184);
}

html {
  font-family: system-ui, sans-serif;
  background-color: var(--c-bg);
  color: var(--c-fg);
}

html.dark {
  --c-bg: #16161a;
  --c-scroll-thumb: #4c4c4c;
}

main {
  max-width: 72ch;
  margin: 0 auto;
  padding: 8em 2em;
}

@media (max-width: 768px) {
  main {
    padding-top: 2em;
  }
}

* {
  -webkit-tap-highlight-color: transparent;
}
