::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  /**/
}
::-webkit-scrollbar-track {
  background: #404552;
  border-top-right-radius: 0.25rem;
}

::-webkit-scrollbar-thumb {
  background: #2a2d37;
  border-radius: 0.25rem;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

:root {
  --c-bg: #171921;
}

html {
  font-family: system-ui, sans-serif;
  background-color: var(--c-bg);
  color: #ffffff;
}

main {
  max-width: 72ch;
  margin: 0 auto;
  padding: 8em 2em;
}

@media (max-width: 768px) {
  main {
    padding-top: 2em;
  }
}

* {
  -webkit-tap-highlight-color: transparent;
}
