---
import Layout from "~/layouts/Layout.astro"
import Header from "~/components/Header.astro"
import "~/styles/global.css"
import "@unocss/reset/tailwind.css"
---

<Layout title="404">
  <main>
    <Header />
    <a href="/" class="text-2xl font-extrabold text-slate-7 dark:text-slate" >迷路了，点我回主页吧</a>
  </main>
</Layout>
