---
import Layout from "~/layouts/Layout.astro"
import Header from "~/components/Header.astro"
import Generator from "~/components/Generator"
import "~/styles/global.css"
import "@unocss/reset/tailwind.css"
import "katex/dist/katex.min.css"
import "highlight.js/styles/atom-one-dark.css"
import { parsePrompts } from "~/utils/parse"
const prompts = await parsePrompts()
---

<Layout title="ChatGPT">
  <main>
    <Header />
    <Generator prompts={prompts} client:visible />
  </main>
</Layout>
