---
import Layout from "~/layouts/Layout.astro"
import Header from "~/components/Header.astro"
import Chat from "~/components/Chat"
import "~/styles/global.css"
import "@unocss/reset/tailwind.css"
import "katex/dist/katex.min.css"
import "highlight.js/styles/atom-one-dark.css"
import {
  defaultMessage,
  defaultResetContinuousDialogue,
  defaultSetting
} from "~/system"
import { parsePrompts } from "~/utils/parse"
const prompts = parsePrompts()
const message = import.meta.env.DEFAULT_MESSAGE || defaultMessage
let setting = defaultSetting
if (import.meta.env.DEFAULT_SETTING) {
  try {
    setting = {
      ...setting,
      ...JSON.parse(import.meta.env.DEFAULT_SETTING)
    }
  } catch (e) {
    console.error("Error parsing DEFAULT_SETTING:", e)
  }
}

const _ = import.meta.env.RESET_CONTINUOUS_DIALOGUE_OPTION
const resetContinuousDialogue =
  _ && _ !== String(defaultResetContinuousDialogue)
    ? !defaultResetContinuousDialogue
    : defaultResetContinuousDialogue

const question = Astro.url.searchParams.get("q")
---

<Layout title="ChatGPT">
  <main class="before sm:pt-8em py-2em">
    <Header />
    <Chat
      env={{
        setting,
        message,
        resetContinuousDialogue
      }}
      question={question ?? undefined}
      prompts={prompts}
      client:visible
    />
  </main>
</Layout>
