<footer op-60 text-sm text-slate>
  <p mt-2>
    <span class="bg-slate text-slate bg-op-15 rounded px-1">Shift+Enter</span> 换行。开头输入
    <span class="bg-slate text-slate bg-op-15 rounded px-1">/</span> 搜索 Prompt
    预设。更多预设请去
    <a
      border-b
      border-slate
      border-none
      hover:border-dashed
      href="https://github.com/ourongxing/chatgpt-vercel"
      target="_blank">Github PR</a
    >。
  </p>
  <p mt-1>本站仅用于演示，填入自己的 key 才可使用。</p>
  <p mt-1>
    <span pr-1>由</span>
    <a
      border-b
      border-slate
      border-none
      hover:border-dashed
      href="https://github.com/ourongxing"
      target="_blank"
    >
      ourongxing
    </a>

    <span pr-1>修改自</span>
    <a
      border-b
      border-slate
      border-none
      hover:border-dashed
      href="https://github.com/ddiu8081/chatgpt-demo"
      target="_blank"
    >
      Diu
    </a>
    <span px-1>|</span>
    <a
      border-b
      border-slate
      border-none
      hover:border-dashed
      href="https://github.com/ourongxing/chatgpt-vercel"
      target="_blank"
    >
      Github
    </a>
  </p>
</footer>
