<header>
  <img src="/favicon.svg" width="100px" />
  <div class="flex items-center mt-4">
    <span
      class="text-2xl text-transparent font-extrabold bg-clip-text bg-gradient-to-r from-yellow-300 to-red-700 mr-1"
      >ChatGPT</span
    >
    <span class="ml-1 text-2xl font-extrabold text-slate">Vercel</span>
  </div>
</header>
