---
import Logo from './Logo.astro'
---

<header>
  <Logo />
  <div class="flex items-center mt-2">
    <span class="text-2xl text-slate font-extrabold mr-1">ChatGPT</span>
  </div>
  <p mt-1 text-slate op-60>由 OpenAI API (gpt-3.5-turbo) 提供支持</p>
</header>