name: cloudflare

on:
  push:
		branches:
			- main

jobs:
	ci:
		runs-on: ${{ matrix.os }}

		strategy:
			matrix:
				os: "ubuntu-latest"
				node: 18

		steps:
			- uses: actions/setup-node@v1
				with:
					node-version: ${{ matrix.node }}

			- name: Checkout
				uses: actions/checkout@master

			- name: Setup PNPM
				uses: pnpm/action-setup@v2.2.4
				with:
					version: 7.13.2

			- name: Cache node_modules
				uses: actions/cache@v2
				with:
					path: node_modules
					key: ${{ matrix.os }}-node-v${{ matrix.node }}-deps-${{ hashFiles(format('{0}{1}', github.workspace, '/pnpm-lock.yaml')) }}

			- name: Install Dependencies
				if: steps.cache.outputs.cache-hit != 'true'
				run: pnpm i

			- name: Build
				run: CF_WORKER pnpm build

			- name: Publish to Cloudflare
				uses: cloudflare/wrangler-action@2.0.0
				with:
					apiToken: ${{ secrets.CF_API_TOKEN }}